{#version: '3.9'#}

services:
  {{ service_name }}:
    build:
      context: .
      dockerfile: Dockerfile
    image: {{ image_name }}:v{{ version }}
    container_name: {{ container_name }}
    ports:
      - "{{ host_port }}:{{ container_port }}"
    volumes:
      - ./public/{{ service_name }}:/app/public
    labels:
      - "traefik.enable=true"

      # HTTP Router
      - "traefik.http.routers.{{ router_prefix }}_http.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.{{ router_prefix }}_http.entrypoints=web"
      - "traefik.http.routers.{{ router_prefix }}_http.service={{ traefik_service_name }}"

      # HTTPS Router
      - "traefik.http.routers.{{ router_prefix }}_https.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.{{ router_prefix }}_https.entrypoints=websecure"
      - "traefik.http.routers.{{ router_prefix }}_https.tls.certresolver=myresolver"
      - "traefik.http.routers.{{ router_prefix }}_https.service={{ traefik_service_name }}"

      # Service Definition
      - "traefik.http.services.{{ traefik_service_name }}.loadbalancer.server.port={{ container_port }}"

    networks:
      - codexion-network
    restart: unless-stopped
    tty: true

networks:
  codexion-network:
    external: true
