services:
  mariadb:
    image: mariadb:11.8
    container_name: codexion-db
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: DbPass1@@
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - codexion-network

volumes:
  db_data:

networks:
  codexion-network:
    external: true
